.presale {
  margin: 0 auto;
  background: url("../../assets/images/bg-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.presale__container {
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
}

.presale__title {
  text-align: center;
  padding: 80px 20px 0;
}

.presale__title-span {
  font-family: "InknutAntiqua";
  font-weight: 800;
  font-size: 33px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ffffff 48.03%, #21a0ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.presale__miner-img {
  max-width: 200px;
  width: 100%;
  height: 200px;
  display: block;
  padding: 15px;
  margin: 0 auto;
}

.presale__buttons-container {
  padding: 0 20px 0 20px;
}

.presale__button-mint {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: url("../../assets/images/crysal-blue-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 0 18px 0;
  margin: 0 auto;
}

.presale__button-mint-text {
  font-family: "Jost";
  font-weight: 800;
  font-size: 23px;
  line-height: 32px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #10334e 0%, #071724 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.presale__button-mint-icon {
  width: 28px;
  height: 28px;
}

.presale__second-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 13px;
}

.presale__button-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: url("../../assets/images/crystal-light-blue-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  width: 50%;
  padding: 16px 0 16px 0;
}

.presale__button-info-text {
  font-family: "Jost";
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #10464e 0%, #071f24 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.presale__button-info-icon {
  width: 20px;
  height: 20px;
}

.presale__button-ref {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background: url("../../assets/images/crystal-purple-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  font-size: 23px;
  text-transform: uppercase;
  width: 50%;
  padding: 16px 0 16px 0;
}

.presale__button-ref-text {
  font-family: "Jost";
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  background: linear-gradient(180deg, #41104e 0%, #1d0724 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.presale__button-ref-icon {
  width: 32px;
  height: 32px;
}
