.market-sell {
  margin: 0 auto;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.market-sell__container {
  position: relative;
  max-width: 390px;
  padding: 65px 20px 180px 20px;
  margin: 0 auto;
}

.market-sell__form {
  background-color: #312c22;
  border: 2px solid #605749;
  border-radius: 5px;
  color: #fff;
  padding: 20px;
  margin-top: 60px;
}

.market-sell__input-info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.market-sell__input-container {
  margin-bottom: 20px;
}

.market-sell__title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.market-sell__title-icon {
  width: 30px;
  height: 30px;
}

.market-sell__subtitle {
  font-size: 16px;
  color: #c9baa9;
}

.market-sell__input {
  width: 100%;
  box-sizing: border-box;
  font-family: "changa", Arial, sans-serif;
  text-align: center;
  background-color: #312c22;
  border: 2px solid #605749;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  margin-bottom: 5px;
}

.market-sell__input:focus {
  border: 1px solid #845044;
  outline: none;
}

.market-sell__text {
  font-size: 14px;
  color: #ffffffbd;
}

.market-sell__min-text {
  text-align: center;
}

.market-sell__text-span {
  color: #fff;
}

.market-sell__button {
  color: #dfcfbc;
  font-size: 15px;
  text-transform: uppercase;
  background: url("../../assets/images/btn_color_brown.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 50%;
  padding: 10px 10px 15px 10px;
  display: block;
  margin: 30px auto 0;
}

.market-sell__total-price-block {
  width: 100%;
  box-sizing: border-box;
  font-family: "changa", Arial, sans-serif;
  text-align: center;
  background-color: #2b261c;
  border: 2px solid #514d49;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  margin: 10px 0;
}
