.main {
  position: relative;
  margin: 0 auto;
  background: url("../../assets/images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.main__container {
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-end;
}

.main__buttons-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}

.main__buy-button {
  max-width: 280px;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  background: url("../../assets/images/btn_color_green.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 15px 10px 20px 10px;
}

.main__second-buttons-block {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main__claim-button {
  max-width: 200px;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  background: url("../../assets/images/btn_color_blue.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 15px 10px 15px 10px;
}

.main__info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/images/btn_color_brown.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 15px 20px 20px 20px;
}

.main__button-info-icon {
  width: 35px;
  height: 35px;
}

.main__bottom-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 100px 10px 30px 10px;
}

.main__ref-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: url("../../assets/images/circle-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
}

.main__ref-button-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 7px;
}

.main__market-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: url("../../assets/images/circle-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
}

.main__market-button-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 7px;
}
