.main {
  margin: 0 auto;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../../assets/images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__container {
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
}

.main__miner-img-container {
  width: fit-content;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  padding-top: 180px;
}

.main__miner-img {
  width: 100%;
  padding: 0 10px;
}

.main__buttons-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 15px;
  margin-top: 20px;
}

.main__change-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 130px;
  width: 100%;
  font-size: 18px;
  background: url("../../assets/images/small-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 15px 0 20px 0;
}

.main__change-button-icon {
  width: 20px;
  height: 20px;
}

.main__collect-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 270px;
  width: 100%;
  height: 60px;
  font-size: 23px;
  background: url("../../assets/images/btn_color_green.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 20px 0 25px 0;
}

.main__bottom-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px;
  margin-top: 200px;
}

.main__ref-button {
  width: 50px;
  height: 50px;
  background: url("../../assets/images/btn_add_friend.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
}

.main__market-button {
  width: 50px;
  height: 50px;
  background: url("../../assets/images/menu_btn_icon_shop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
}
