.header {
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.header__currencies-block {
  position: absolute;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  justify-content: space-between;
}

.header__currencies-list {
  display: flex;
  gap: 8px;
  width: 100%;
}

.header__currencies-ton-icon {
  width: 20px;
  height: 20px;
}

.header__plus-icon {
  width: 20px;
  height: 20px;
}

.header__currencies-item-replenish {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/images/mini-block-crystal.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  box-sizing: border-box;
  max-width: 36px;
  width: 100%;
  height: 36px;
  padding: 0;
}

.header__wallet-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}
