@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

body {
  color: #fff;
  background-color: #000;
}

.page {
  margin: 0;
  min-width: 320px;
  box-sizing: border-box;
  font-family: "changa", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.blur {
  height: 100vh;
  backdrop-filter: blur(3px);
}

.page-title-container {
  background: url("./assets/images/title_ribbon_brown.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 10px 10px 30px 10px;
}

.page-title {
  text-align: center;
  color: #c9baa9;
  font-size: 28px;
  -webkit-background-clip: text;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgb(0 0 0), -2px -2px 4px rgb(0 0 0 / 30%);
}

.page-back-icon {
  width: 30px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 30px;
}