.progress-bar__container {
  position: relative;
  width: 86%;
  height: 68px;
  margin: 31px auto 0;
}

.progress-bar__block {
  position: relative;
  width: 94.5%;
  margin: 8px auto 0;
  margin-top: 8px;
}

.progress-bar__bg {
  background-image: url("../../assets/images/progress-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 36px;
  width: 100%;
  position: absolute;
}

.progress-bar__custom-label {
  font-family: "Jost";
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
