.referrals__val-block {
  background: url("../../../assets/images/stage_default.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  max-width: 200px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px 30px 20px;
}

.referrals__info-title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.referrals__info-icon {
  width: 25px;
  height: 25px;
}

.referrals__info-title {
  font-size: 13px;
  font-weight: normal;
}

.referrals__info-val-text {
  text-align: center;
  font-size: 15px;
  width: 100%;
  overflow-wrap: break-word;
}
