.header__currencies-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: url("../../../assets/images/status_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 5px 10px 5px 10px;
}

.header__currencies-list-item {
  max-width: 130px;
  width: 100%;
}

.header__currencies-item-icon {
  width: 20px;
  height: 20px;
}

.header__currencies-item-val {
  font-size: 13px;
  max-width: 60px;
  width: 100%;
  overflow-wrap: break-word;
}
